/*-- scss:defaults --*/

// import shared colors
@import '_posit-colors';

// Feature preview heading colors
$preview-header: $posit-red;
$preview-header-border: darken($preview-header, 5%);

// CSS overrides

// Nav and footer

/* Navbar */

// Nav

.navbar {
  background-color:#15181e !important;
  color: #dee2e6;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: $posit-blue !important;
}

// secondary navigation styling

@media only screen and (min-width:992px) {
  .dropdown-menu {
    flex-direction: row;
    padding-left: 20px !important;
    width: 100vw;
    position: fixed !important;
    display: flex !important;
    justify-content: flex-start;
    margin-top: -0.04rem;
    font-size: 0.85rem !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 0%;
    background-color: #007BC2 !important;
    right: auto;
    left: 0;
  }

  ul.dropdown-menu.dropdown-menu-end.show {
    background-color: $posit-light-blue-1 !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: $posit-teal !important;
    color: #fff !important;
    border-radius: 5px;
  }


}

/* Sidebar */

.sidebar-item.sidebar-item-section ul li .menu-text {
  font-size: 96%;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  background-color: #F0F0F2;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-left: -2px;
  padding: 6px;
}


/* Footer */

.nav-footer {
  border-top: solid #0000001a 0.01em;
}

/* Posit icon fullcolor */
#footer-right-posit-logo {
  width: 16px;
  margin-left: -20px !important;
  margin-top: -3px;
}

/* Sidebar */

.sidebar-item.sidebar-item-section ul li .menu-text {
  font-size: 96%;
}

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  background-color: #F0F0F2;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-left: -2px;
  padding: 6px;
}

/* Code blocks */

.code-with-filename .code-with-filename-file {
  padding: .25rem;
  box-shadow: 0px 0px 2px rgba(5, 10, 15, .14), 0px 2px 4px rgba(29, 31, 33, .16);
}

div.sourceCode, pre.console {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(5, 10, 15, 0.14), 0px 2px 4px rgba(29, 31, 33, .16);
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: .25rem;
}

// Mermaid diagrams

#mermaid-1 .nodeLabel {
  font-weight: 700!important;
}

// Footnote link

.footnote-back {
  color: $posit-dark-blue-2;
}

// Specialty headers

/* the feature PREVIEW header */
.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header {
  content: "Preview feature";
  margin-left: 1em;
  position: relative;
  border-radius: 50rem !important;
  top: -0.5em;
}

.preview-header > h1:after,
.preview-header > h2:after,
.preview-header > h3:after,
.preview-header > h4:after,
header h1 .preview-header,
div span.preview-feature {
  color: $preview-header;
  border: 1px solid $preview-header-border;
  font-weight: 500;
  font-size: 9pt !important;
  padding: 0rem 0.4rem;
}

div span.preview-feature {
  margin-left: 1em;
  text-transform: uppercase;
}

// Specialty lists

/* Callout steps for images with multiple items/steps shown in single image */

ol.groovyAlpha {
  list-style: none;
  counter-reset: list-counter;
}

ol.groovyAlpha li {
  counter-increment: list-counter;
}

ol.groovyAlpha li > p:before {
  content: counter(list-counter, lower-alpha);
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  background-color: #fc403b;
  display: inline-block;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}


// Home page styles

// Custom header centered

.custom-center {
  text-align: center; /* Center the text */
  margin: 0 auto; /* Center the element if needed */
  width: fit-content; /* Keep the width tight around the text */
  border-bottom: none;
  padding-top: 40px;
  padding-bottom: 20px;
}

// Center buttons guides

.btn-light {
//  margin-right: 20px;
margin-bottom: 10px;
}

.centered-div {
  display: flex;              /* Use flexbox */
  flex-direction: column;     /* Arrange buttons vertically */
  justify-content: center;    /* Center vertically */
  align-items: center;        /* Center horizontally */
}


// Banner

.banner-container {
  width: 100%; /* Adjust the width of the container */
  margin-bottom: -100px;
  margin-left: -100px;

}

.responsive-banner {
  width: 100%; /* Makes the image width match the container */
  display: inline-block; /* Removes gaps around the image */
}