/*-- scss:defaults --*/

// import shared colors
@import '_posit-colors';

/*-- scss:variables --*/
$primary: $posit-orange;
$dark-md-body: $posit-light-gray-1;
$dark-md-background: #000000;

//$body-color: $posit-green !default;
$body-bg: $dark-md-background !default; // dark mode change

$body-color: #d5d7db;

// Feature preview heading colors
$preview-header: $posit-red; /* posit orange, contrast: 8.45 */
$preview-header-border: darken($preview-header, 5%);


/* Code block background */
$code-block-bg: #000000;

// Nav

.navbar {
  background-color:#15181e !important;
  color: #dee2e6;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $posit-light-gray-1 !important;
}

.nav-link:hover {
  color: $posit-teal !important;
}

// secondary navigation styling

@media only screen and (min-width:992px) {

  ul.dropdown-menu.dropdown-menu-end.show {
    background-color: $posit-orange !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: $posit-orange !important;
    color: #fff !important;
    border-radius: 5px;
  }
}

// Sidebar

div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
  background-color: #2b303c;
}

// Tab - Pills

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: $dark-md-background !important;
}

// Callouts

.callout.callout-style-default:not(.no-icon) div.callout-title-container {
  color: #ffffff !important;
}

div.callout.callout-style-default > div.callout-header {
  opacity: none;
}

/* Note */

div.callout-note.callout {
  border-left-color: $posit-dark-blue-2 !important;
  border-right: 1px solid $posit-dark-blue-2 !important;
  border-top: 1px solid $posit-dark-blue-2 !important;
  border-bottom: 1px solid $posit-dark-blue-2 !important;
}

div.callout-note .callout-icon::before {
  // base64 -i _extensions/posit-docs/assets/images/info-circle-dm.svg
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzAwMDAwMCIgY2xhc3M9ImJpIGJpLWluZm8tY2lyY2xlIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik04IDE1QTcgNyAwIDEgMSA4IDFhNyA3IDAgMCAxIDAgMTRtMCAxQTggOCAwIDEgMCA4IDBhOCA4IDAgMCAwIDAgMTYiLz4KICA8cGF0aCBkPSJtOC45MyA2LjU4OC0yLjI5LjI4Ny0uMDgyLjM4LjQ1LjA4M2MuMjk0LjA3LjM1Mi4xNzYuMjg4LjQ2OWwtLjczOCAzLjQ2OGMtLjE5NC44OTcuMTA1IDEuMzE5LjgwOCAxLjMxOS41NDUgMCAxLjE3OC0uMjUyIDEuNDY1LS41OThsLjA4OC0uNDE2Yy0uMi4xNzYtLjQ5Mi4yNDYtLjY4Ni4yNDYtLjI3NSAwLS4zNzUtLjE5My0uMzA0LS41MzN6TTkgNC41YTEgMSAwIDEgMS0yIDAgMSAxIDAgMCAxIDIgMCIvPgo8L3N2Zz4=") !important;
}

div.callout-note.callout-style-default > .callout-header {
  background-color: $posit-blue !important;
}

/* Warning */

div.callout-warning.callout {
  border-left-color: $posit-dark-orange-2 !important;
  border-right: 1px solid $posit-dark-orange-2 !important;
  border-top: 1px solid $posit-dark-orange-2 !important;
  border-bottom: 1px solid $posit-dark-orange-2 !important;
}

div.callout-warning .callout-icon::before {
  // base64 -i _extensions/posit-docs/assets/images/exclamation-triangle-dm.svg
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzAwMDAwMCIgY2xhc3M9ImJpIGJpLWV4Y2xhbWF0aW9uLXRyaWFuZ2xlIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik03LjkzOCAyLjAxNkEuMTMuMTMgMCAwIDEgOC4wMDIgMmEuMTMuMTMgMCAwIDEgLjA2My4wMTYuMTUuMTUgMCAwIDEgLjA1NC4wNTdsNi44NTcgMTEuNjY3Yy4wMzYuMDYuMDM1LjEyNC4wMDIuMTgzYS4yLjIgMCAwIDEtLjA1NC4wNi4xLjEgMCAwIDEtLjA2Ni4wMTdIMS4xNDZhLjEuMSAwIDAgMS0uMDY2LS4wMTcuMi4yIDAgMCAxLS4wNTQtLjA2LjE4LjE4IDAgMCAxIC4wMDItLjE4M0w3Ljg4NCAyLjA3M2EuMTUuMTUgMCAwIDEgLjA1NC0uMDU3bTEuMDQ0LS40NWExLjEzIDEuMTMgMCAwIDAtMS45NiAwTC4xNjUgMTMuMjMzYy0uNDU3Ljc3OC4wOTEgMS43NjcuOTggMS43NjdoMTMuNzEzYy44ODkgMCAxLjQzOC0uOTkuOTgtMS43Njd6Ii8+CiAgPHBhdGggZD0iTTcuMDAyIDEyYTEgMSAwIDEgMSAyIDAgMSAxIDAgMCAxLTIgME03LjEgNS45OTVhLjkwNS45MDUgMCAxIDEgMS44IDBsLS4zNSAzLjUwN2EuNTUyLjU1MiAwIDAgMS0xLjEgMHoiLz4KPC9zdmc+") !important;
}

div.callout-warning.callout-style-default > .callout-header {
  background-color: $posit-dark-orange-1 !important;
}

/* Important */

div.callout-important.callout {
  border-left-color: $posit-dark-burgundy-2 !important;
  border-right: 1px solid $posit-dark-burgundy-2 !important;
  border-top: 1px solid $posit-dark-burgundy-2 !important;
  border-bottom: 1px solid $posit-dark-burgundy-2 !important;
}

div.callout-important .callout-icon::before {
  // base64 -i _extensions/posit-docs/assets/images/exclamation-circle-dm.svg
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iIzAwMDAwMCIgY2xhc3M9ImJpIGJpLWV4Y2xhbWF0aW9uLWNpcmNsZSIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCAxNUE3IDcgMCAxIDEgOCAxYTcgNyAwIDAgMSAwIDE0bTAgMUE4IDggMCAxIDAgOCAwYTggOCAwIDAgMCAwIDE2Ii8+CiAgPHBhdGggZD0iTTcuMDAyIDExYTEgMSAwIDEgMSAyIDAgMSAxIDAgMCAxLTIgME03LjEgNC45OTVhLjkwNS45MDUgMCAxIDEgMS44IDBsLS4zNSAzLjUwN2EuNTUyLjU1MiAwIDAgMS0xLjEgMHoiLz4KPC9zdmc+") !important;
}

div.callout-important.callout-style-default > .callout-header {
  background-color: $posit-burgundy !important;
}

// Code blocks
.code-with-filename strong {
  color: #ffffff;
  border: none !important;
}

div.sourceCode {
  background-color: #1a1a1a;
  border: 1px solid #dee2e6 !important;
  border-radius: .25rem;
}

// Footnote link

.footnote-back {
  color: $posit-light-blue-2;
}